body {
    background-color: #e5e1e2;
}

.logo_menu {
    height: 90px;
}

.submit-lente {
    position: absolute;
    top: 6px;
    right: 10px;
    z-index: 10;
    border: none;
    background: transparent;
    outline: none;
}

.submit-line {
    position: relative;
    width: 200px;
}

.submit-line input {
    width: 100%;
}

.custom-input {
    border-radius: 38px;
}

.custom-button {
    border-radius: 38px;
}

.divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(4.375rem - 2rem);
    margin: auto 1rem;
}

.card-carousel {
    margin-left: 10%;
    position: absolute;
    padding: 10px;
    bottom: 1.25rem;
    /* margin-bottom: 59%; */
    width: 25%;
    height: 230px;
    color: #fff;
    background-color: #000;
    opacity: 70%;
}

.card-img-top {
    max-height: 288px;
}

.card-custom {
    opacity: 70%;
    height: 296px;
    cursor: pointer;
}

.border-bottom {
    border: 1px solid #6c757d !important;
}

.footer {
    background-color: #fff;
    /* max-height: 180px; */
    margin-top: 20px;
}

.footer .row .logo_text p {
    margin-left: 25px;
}

.footer .row .logo_text img {
    margin: 20px 0px 0px 0px;
}

.contact_text {
    margin-top: 26px;
}

.socials_text {
    margin-top: 26px;
}

.modal-header {
    background-image: url('../images/modal.png');
    background-repeat: round;
    height: 170px;
}

.modal-header button {
    margin: -5.5rem -0.5rem 2.5rem auto !important;
}

@media only screen and (max-width: 1540px) {
    .card-carousel {
        height: 170px !important;
    }
}

@media only screen and (max-width: 1261px) {
    .card-carousel {
        height: 120px !important;
    }
    .card-carousel p {
        display: none;
    }
}